.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.block-info {
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 100px;
  border: 4px solid goldenrod;
  background-color: khaki;
  padding: 10px;
}
.name-player {
  font-size: 20px;
  margin: 0;
  text-decoration: underline;
  color: rgb(148, 139, 126);
}
.info-more {
  margin: 0;
}
